@font-face {
  font-family: "iconfont"; /* Project id 3541709 */
  src: url('iconfont.woff2?t=1658632763899') format('woff2'),
       url('iconfont.woff?t=1658632763899') format('woff'),
       url('iconfont.ttf?t=1658632763899') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dian:before {
  content: "\ec1e";
}

.icon-chuku:before {
  content: "\e607";
}

.icon-ruku:before {
  content: "\e60f";
}

.icon-pandian:before {
  content: "\e651";
}

.icon-shouhuo:before {
  content: "\e7a2";
}

.icon-jiaojie:before {
  content: "\e612";
}

.icon-rukudan:before {
  content: "\e67b";
}

.icon-chukudan:before {
  content: "\e67c";
}

.icon-kuneiguanli:before {
  content: "\e637";
}

.icon-gongzuotai:before {
  content: "\e630";
}

.icon-shangjia:before {
  content: "\e613";
}

.icon-lianhuo:before {
  content: "\e63a";
}

.icon-pandiandan:before {
  content: "\e655";
}

.icon-shangwu:before {
  content: "\e74f";
}

.icon-xinxi:before {
  content: "\eb7a";
}

